PORT=3000
NODE_ENV=
NETWORK_RPC=
RPC_URL=
SHOULD_APP_CHECK_BLOCK_THE_APP=false
IOS_APP_ID=
ANDROID_APP_ID=
MOONPAY_SECRET_KEY=
KOLO_API_PUBLIC_KEY=
KOLO_API_PRIVATE_KEY=
KOLO_BASE_URL=
ALICE_BOB_PUBLIC_KEY=
ALICE_BOB_PRIVATE_KEY=
THREE_ROUTE_API_URL=
THREE_ROUTE_API_AUTH_TOKEN=
REDIS_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
TEMPLE_TAP_API_URL=
EVM_API_URL=
WERT_API_KEY=
GOOGLE_DRIVE_API_KEY=
TEMPLE_ADS_API_URL=
PINATA_GATEWAY_URL=
PINATA_GATEWAY_KEY=
IPFS_GATEWAY_REQUESTS_POINTS=1000
IPFS_GATEWAY_BANDWIDTH_POINTS=10000000
ACCOUNT_NOTIFICATION_TTL_SECONDS=2592000
ACCOUNT_NOTIFICATION_INDEX_CAP=100
ACCOUNT_NOTIFICATION_MEMORY_WATERMARK_BYTES=536870912
ACCOUNT_NOTIFICATION_CLEANUP_INTERVAL_MS=600000
OBJKT_NOTIFICATIONS_POLL_INTERVAL_MS=60000
OBJKT_NOTIFICATIONS_LOOKBACK_MS=900000
ACCOUNT_NOTIFICATIONS_WS_HEARTBEAT_MS=30000
